*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(250, 202, 202);
    font-family: Roboto, sans-serif;
    color: rgb(39, 39, 39);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40;
    margin: 0;
}
.header {
    width: 600px;
    height: auto;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 2px 0 #d49898;

}
.cartHeading1{
    color: rgb(146, 1, 25);
    padding: 40px;
    background-color: rgb(220, 223, 222);

}

h1 {
    color: rgb(37, 17, 37);
    font-size: 2.6em;
    margin-bottom: 20px;
}
h4{
    color:rgb(230, 6, 129);
    font-size: 1.6em;
    margin-bottom: 20px;
}

.container {
background-color: #e2e2df;
width: 100%;
height: 100%;
border-radius: 10px;
padding:20px;
position: relative;
}
.petcounter {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;           
}
.cart-item1{
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    justify-content: center;
    font-size: 20px;
}
.item-image{
    width:60%;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    border-radius: 10px;

}
.cart-actions1{
    background-color: rgb(209, 211, 214);
    border-radius: 5px;
    width: 250px;
    height: auto;

    gap: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0px auto;
    margin-top: 5px;

}
.qty-plus, .qty-minus{
    width: 20px;
    height: 20px;
    margin-top: 0;
    background-color: rgb(252, 203, 252);
    
    border: 1px solid #555;
    border-radius: 5px;

    font-size: 16px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    justify-content: center;
}
.item-quantity{
    width: 45px;
    height: auto;
    justify-content: center;
    text-align: center;
    position: relative;
    display: flex;
}
.quantity-controls{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 4px;
}

.checkout-btn {
    display: inline-block;
    padding: 12px 28px;
    background: #ff80b3; /* soft pink */
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    transition: 0.25s ease;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(255, 105, 180, 0.3);
}

.checkout-btn:hover {
    background: #ff4d94;
    box-shadow: 0 5px 12px rgba(255, 77, 148, 0.4);
    transform: translateY(-2px);
} 